 <div class="container-expand w-100">
      {{#each recipes as |recipe|}}
      <div class="row w-100 h-100">
        <aside
          class="col-xl-2 col-lg-3 col-md-4 col-5 bg-dark h-100 text-white"
        >
          <ul class="nav flex-column">
            <li class="nav-item mx-auto m-3">
              <button type="button" class="btn btn-light btn-lg">
                All Recipes
              </button>
            </li>
            <li class="nav-item mx-auto m-3">
              <button type="button" class="btn btn-light btn-lg">
                My Recipes
              </button>
            </li>
            <li class="nav-item mx-auto m-3">
              <button type="button" class="btn btn-light btn-lg">
                Surprise Me!
              </button>
            </li>
            <li class="nav-item mx-auto m-3">
              <button type="button" class="btn btn-light btn-lg">
                Add a Recipe
              </button>
            </li>
            <li class="nav-item mx-auto m-3">
              <button type="button" id="logout" class="btn btn-light btn-lg">
                Log Out
              </button>
            </li>
          </ul>
        </aside>
        <!-- recipes listed here -->
        <div class="col-xl-10 col-lg-9 col-md-8 col-7" id="recipes">
          <div class="card m-4" style="width: 18rem">
            <img
              class="card-img-top"
              src="{{recipe.image}}"
              alt="Image of food"
            />
            <div class="card-body">
              <h5 class="card-title">{{recipe.title}}</h5>
            </div>
          </div>
        </div>
        {{/each}}
    </div>
