 {{!-- <div class="container-expand w-100">
      
      <div class="row w-100 h-100"> --}}
{{#if loggedIn}}
        {{!-- <aside
          class="col-xl-2 col-lg-3 col-md-4 col-5 bg-dark h-100 text-white"
        >
          <ul class="nav flex-column">
            <li class="nav-item mx-auto m-3">
              <button type="button" class="btn btn-light btn-lg" id = "allBtn">
                All Recipes
              </button>
            </li>
            <li class="nav-item mx-auto m-3">
              <button type="button" class="btn btn-light btn-lg" id = "myBtn">
                My Recipes
              </button>
            </li>
            <li class="nav-item mx-auto m-3">
              <button type="button" class="btn btn-light btn-lg" id = "surpriseBtn">
                Surprise Me!
              </button>
            </li>
            <li class="nav-item mx-auto m-3">
              <button type="button" class="btn btn-light btn-lg" id = "addBtn">
                Add a Recipe
              </button>
            </li>
            <li class="nav-item mx-auto m-3">
              <button type="button" id="logout" class="btn btn-light btn-lg">
                Log Out
              </button>
            </li>
          </ul>
        </aside> --}}
        <!-- recipes listed here -->
        <section class="col-xl-10 col-lg-9 col-md-8 col-7 flex-row flex-wrap" id="recipes">
        {{#each allRecipes}}
        {{>recipe-card}}
        {{/each}}
        </section>
  {{!-- </div>
</div> --}}
<script src = "/js/recipe-buttons.js"></script>
    <script src = "/js/menu-buttons.js"></script>
{{else}}
<a href="/">You must login first to view this page.</a>
{{/if}}