 <div class="container-expand w-100">
      
      <div class="row w-100 h-100">
        <aside
          class="col-xl-2 col-lg-3 col-md-4 col-5 bg-dark h-100 text-white"
        >
          <ul class="nav flex-column">
            <li class="nav-item mx-auto m-3">
              <button type="button" class="btn btn-light btn-lg">
                All Recipes
              </button>
            </li>
            <li class="nav-item mx-auto m-3">
              <button type="button" class="btn btn-light btn-lg">
                My Recipes
              </button>
            </li>
            <li class="nav-item mx-auto m-3">
              <button type="button" class="btn btn-light btn-lg">
                Surprise Me!
              </button>
            </li>
            <li class="nav-item mx-auto m-3">
              <button type="button" class="btn btn-light btn-lg">
                Add a Recipe
              </button>
            </li>
            <li class="nav-item mx-auto m-3">
              <button type="button" class="btn btn-light btn-lg">
                Log Out
              </button>
            </li>
          </ul>
        </aside>
        <!-- recipes listed here -->
        <section class="col-xl-10 col-lg-9 col-md-8 col-7" id="recipes"></div>
        {{#each allRecipes}}
        {{>recipe-card}}
        {{/each}}
        </section>
    </div>
