<div id = "forms" class = "d-flex justify-content-center m-5">
    <div class="card" style="width: 30rem">
      <div class="card-body">
        <h5 class="card-title text-center">Please enter your information</h5>
        
        <div class="form-group">
            <label for="exampleInputPassword1">Create a username:</label>
            <input class="form-control" type="text" placeholder="username" id = "username-create">
            <label for="exampleInputPassword1">Create a Password:</label>
            <input type="password" class="form-control" id="password-create" placeholder="password">
            <label for="exampleInputPassword1">Confirm Password:</label>
            <input type="password" class="form-control" id="confirm-password-create" placeholder="password">
          </div>
      <div class="card-body text-center">
            <p id = "feedback"></p>
        <a href="#" class="btn btn-dark" id = "create-account-btn">Create Account</a>
      </div>
    </div>
</div>

    <script src="./public/js/create-user.js"></script>