 <div id = "forms" class = "d-flex justify-content-center m-5">
    <div class="card" style="width: 30rem">
      <div class="card-body">
        <h5 class="card-title text-center">Please enter your login information</h5>
        
        <div class="form-group">
            <label for="exampleInputPassword1">Username:</label>
            <input class="form-control" type="text" placeholder="username" id="username-login">
            <label for="exampleInputPassword1">Password:</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password" id = "password-login">
          </div>
      <div class="card-body text-center">
        <a href="#" class="btn btn-dark" id = "login-btn">Log In</a>
        <p id = "feedback-area"></p>
        <br>
        <a href="#" class="btn btn-dark mt-3" id = "new-account-btn">Create a New Account</a>
      </div>
    </div>

    <script src="../Public/login.js"></script>