h2,
h3,
h5,
h6 {
  font-family: "Shadows Into Light", cursive;
}

h1,
li,
ul,
ol,
button,
.btn {
  font-family: "Jost", sans-serif;
}

.bg-custom {
  background-color: #2d132c;
}

.bg-custom-2 {
  background-color: #801336;
}

.img-responsive {
  max-width: 10%;
  max-height: 10%;
}

.custom-width {
  width: fit-content;
}

.custom-margin {
  margin-top: 1rem;
}

.custom-margin-bottom {
  margin-bottom: 1rem;
}
